*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: cursive;
}
h1{
    text-align: center;
    color: white;
    background-color:black;
    padding-block: 25px;
}
label, option, span{
    text-transform:uppercase;
}
.fc{
    display: flex;
    flex-direction: column;
}
.fr{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.t1{
    width: 50px;
}
.t2{
    width: 100px;

}
.t3{
    width: 150px;
}
.t4{
    width: 200px;
}
.t5{
    width: 250px;
}
.t6{
    width: 300px;
}
.t7{
    width: 350px;
}
.t8{
    width: 400px;
}
input,select, textarea{
    border: none;
    border-bottom: 1px solid black;
    padding: 4px 8px;
}
input[type="number"], .lvl{
    text-align: center;
}
img{
    width: 100%;
    max-width: 350px;
    object-fit: cover;
}
header, main{
    display: flex;
    width: 100%;
    max-width: 1000px;
    padding: 25px;
    margin: auto;
}
#cabeçalho_conteudo, #stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 10px 50px;
}
main{
    display: flex;
    flex-direction: row;
    gap:auto;
}
#ability{
    h2{
        max-width: 390px;
    }
}
.ability-grid {
    display: grid;
    grid-template-columns: 140px repeat(3, 1fr);
    gap: 8px;
    max-width: 380px;
    max-height: 120px;
    span{
        width: 60px;
    }
}

.ability-grid span {
    font-weight: bold;
    text-align: center;
}

.ability-grid span:first-child {
    text-align: left;
}

.ability-grid input {
    width: 100%;
    text-align: center;
}

/* cabeçalho */
.ability-grid span:nth-child(-n+4) {
    border-bottom: 2px solid black;
}
.ag7{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
    max-width: 590px;
    max-height: 60px;
    border: 1px solid black;
}
.ag7 span {
    font-weight: bold;
    text-align: center;
}

.ag7 span:first-child {
    text-align: left;
}

.ag7 input {
    width: 100%;
    text-align: center;
}
