/* =========================
   LIGHT (CLARO - padrão)
========================= */
:root {
  --bg: #f8fafc;
  --card: #ffffff;

  --text: #1e293b;
  --text-h: #08060d;
  --text-light: #64748b;

  --border: #e2e8f0;

  --primary: #6366f1;
  --accent: #6366f1;
  --danger:red;
}

/* =========================
   PENUMBRA
========================= */
:root[data-theme="penumbra"] {
  --bg: #2a2a2a;
  --card: #333;

  --text: #e5e5e5;
  --text-h: #ffffff;
  --text-light: #aaaaaa;

  --border: #444;

  --primary: #a78bfa;
  --accent: #a78bfa;
}

/* =========================
   DARK
========================= */
:root[data-theme="dark"] {
  --bg: #121212;
  --card: #1e1e1e;

  --text: #d1d5db;
  --text-h: #ffffff;
  --text-light: #9ca3af;

  --border: #3a3a3a;

  --primary: #c084fc;
  --accent: #c084fc;
}

/* =========================
   BASE GLOBAL (ESSENCIAL)
======================== */
:root {
  font-size: 16px; /* base 16px = 1rem */
}

body {
  background: var(--bg);
  color: var(--text);
  font-size: 1rem;
  transition: background 0.3s ease, color 0.3s ease;
}

/* =========================
   TRANSIÇÃO SUAVE
========================= */
* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}